.input {
    position: relative;
    height: 4rem;
    width: 100%;
}

.input__label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    color: var(--color-grey);
    transition: all .2s ease-in;
    opacity: 0;
    padding-left: 1rem;
}

.input__field {
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    border: none;
}

.input__field:focus {
    outline: none;  
}

input:not(:placeholder-shown) + label {
    opacity: 1;
    transform: translateY(-3.5rem);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}