.button {
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    height: 4rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.button:focus {
    outline: none;
}

/*--------DISABLED BUTTON -----------*/

.button:disabled {
    background: #ccc;
    color: #888888;
    cursor: not-allowed;
    border: #ccc;
    box-shadow: none;
}

.button:disabled:hover,
.button:disabled:active {
    background: #ccc;
    color: #888888;
    border: #ccc;
}



