.list {
    flex: 1;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: repeat(auto-fit, 5rem);
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 4rem;
    max-height: 50vh;
    overflow-y: scroll;
    justify-content: center;
    position: relative;
}

@media (max-width: 900px) {
    .list {
        max-height: unset;
    }
}

.list__item {
    width: 20rem;
    border-radius: .5rem;
    height: 5rem;
    background: var(--color-white);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list--empty {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}