:root {
  --color-white : #fff;
  --color-primary: #027a66;
  --color-secondary: #BA895D;
  --color-grey: #797979;
  --color-grey--dark1: #2e2e2e;
  --color-grey--dark2 : #1d1d1d;

  --font-m: 1.3rem
}

body {
  font-size: var(--font-m);
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey--dark2);
}

.app {
  width: 70%;
  max-width: 70rem;
  height: 60%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .app {
    width: 100%;
    max-width: unset;
    height: 100%;
  }
}

.app__view {
  flex-grow: 1;
  display: flex;
  background-color: var(--color-grey--dark1);
  border-radius: 1rem;
  border-top-left-radius: 0;
}

@media (max-width: 900px) {
  .app__view{
    margin-top: 4rem;
  }
}

